* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* COLOR PALLETTE */
:root {
    --primary-color: #ff9900;
    --secondary-color: #146eb4;
    --teritiary-color: #232f3e;
    --black: #0F1111;
    --background-color: #f2f2f2;
    --grey: #CCCCCC;
    --header-padding-horizontal: 20px;
}

/* UNIVERSAL BODY STYLES */
body {
    background: var(--background-color);
}


/* HEADER */
header {
    min-height: 10vh;
    background: var(--black);
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 var(--header-padding-horizontal);
    border-radius: 50px 0 0 0;
}

header  img.logo {
    width: 100px;
    height: 40px;
    margin-top: 10px;
}
/* 
/* Main Container */
.container {
    display: grid;
    grid-template-columns: 20% auto;
}

/* SIDEBAR */
.sidebar {
    background: var(--background-color);
    grid-row-start: span 2;
    border-right: 2px solid var(--grey);
}

.sidebar .nav-item{
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid var(--grey);
    font-size: 16px;
    font-weight: 600;
    padding: 1rem 2rem;
    background: #fff;
    transition: all 0.3s ease-in-out;
    border-radius: 20px 0 20px 0;
    margin: 1rem 0;
}

.sidebar .nav-item:hover{
    background: var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.sidebar .dropdown{
    position: absolute;
    width: 140px;
    background: var(--grey);
    right: -140px;
    top: 0;
    display: none;
} 

.sidebar .nav-item:hover .dropdown{
    display: block;
}

.sidebar .dropdown .dropdown-item{
    border-bottom: 1px solid var(--background-color);
    font-size: 16px;
    font-weight: 600;
    padding: 0.5rem 1rem;
    color: #000;
}

.sidebar .dropdown .dropdown-item:hover{
    background: var(--primary-color);
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

/* HOME-MAIN */
main {
    min-height: 80vh;
    background: var(--background-color);
}


/* FOOTER */
footer {
    background: var(--teritiary-color);
    min-height: 10vh;
    border-radius: 0 0 50px;
}